[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
beautifulsoup4 = "*"
gpt4all = "*"
chromadb = "<=0.4.15"
langchainhub = "*"
jupyter = "*"
pydantic = "*"
markdown-to-json = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
